html {
  overflow-x : hidden;
  overflow-y : hidden;
}

button:focus {
  outline : 0;
}

#slot1,
#slot2,
h1 {
  margin : 0;
  color  : #000;
}

h1 {
  left        : 340px;
  font-size   : 25px;
  font-weight : 700;
}

#slot1,
h1,
img {
  position : absolute;
}

img {
  top    : 0;
  right  : 0;
  bottom : 80%;
  left   : 0;
  width  : 30%;
  margin : auto;
}

#slot1,
#slot2 {
  left             : 50px;
  width            : 800px;
  height           : 70px;
  border           : 3px solid #000;
  border-radius    : 5px;
  background-color : rgb(255,207,112);
  font-size        : 40px;
  transition       : background-color .5s;
  cursor           : pointer;
}

#slot1 {
  top : 190px;
}

#slot1:hover,
#slot2:hover,
#slot3:hover {
  background-color : rgba(152,125,72,.9);
}

#slot1:hover:active,
#slot2:hover:active,
#slot3:hover:active {
  background-color : rgba(76,62,35,.9);
}

#slot2 {
  top : 320px;
}

#slot2,
#slot3,
form {
  position : absolute;
}

#slot3 {
  top              : 450px;
  left             : 50px;
  width            : 800px;
  height           : 70px;
  margin           : 0;
  color            : #000;
  border           : 3px solid #000;
  border-radius    : 5px;
  background-color :rgb(255,207,112);
  font-size        : 40px;
  transition       : background-color .5s;
  cursor           : pointer;
}

form {
  top  : 360px;
  left : 65px;
}

#userInput {
  width  : 645px;
  height : 62px;
}

input[type=text] {
  color      : #fff;
  font-size  : 50px;
  font-style : italic;
}

#StartGameBtn,
#userInput,
body {
  background-color : Transparent;
}

#ExitBtn,
#StartGameBtn,
body {
  background-repeat   : no-repeat;
  background-position : center center;
}

body {
  display               : inline-flex;
  width                 : auto;
  height                : auto;
  margin                : 0;
  padding-top           : 2px;
  background-image      : url(../resources/fundo.png);
  background-attachment : fixed;
  background-size       : auto;
}

#ExitBtn,
#StartGameBtn {
  position     : absolute;
  border-color : transparent;
}

#StartGameBtn {
  bottom           : 50px;
  left             : 250px;
  width            : 300px;
  height           : 130px;
  background-image : url(../resources/IMAGES/BUTTONS/StartBtn.png);
  background-size  : 100%;
  transition       : background-image .5s;
  cursor           : pointer;
}

#StartGameBtn:hover {
  background-image : url(../resources/StartBtn1.png);
}

#ExitBtn {
  top              : 580px;
  left             : 20px;
  width            : 80px;
  height           : 80px;
  background-image : url(../resources/IMAGES/BUTTONS/ExitBtn.png);
  background-color : transparent;
  background-size  : 80px;
  transition       : background-color 1s;
}

#ExitBtn:hover {
  background-image : url(../resources/IMAGES/BUTTONS/ExitBtn1.png);
  cursor           : pointer;
}

#popupStartButton {
  display          : none;
  position         : fixed;
  top              : 0;
  left             : 0;
  width            : 100%;
  height           : 100%;
  padding-top      : 150px;
  background-color : rgba(0,0,0,.8);
  cursor           : pointer;
}

#popup_contentStartButton {
  width               : 700px;
  height              : 290px;
  margin              : auto;
  padding-top         : 80px;
  padding-left        : 60px;
  border              : 2px solid #fff;
  background-color    : rgba(255,207,112,.7);
  background-repeat   : no-repeat;
  background-position : center center;
  background-size     : 100%;
  cursor              : initial;
}

.LevelBtn,
.QuestionsBtn {
  width         : 200px;
  height        : 70px;
  margin        : 0;
  border-radius : 5px;
  font-size     : 40px;
  transition    : background-color .5s;
}

#Level0,
#Level1,
#Level2,
#Level3 {
  position : absolute;
  top      : 160px;
  left     : 280px;
  border   : 3px solid #000;
}

#Level1,
#Level2,
#Level3 {
  top : 250px;
}

#Level2,
#Level3 {
  top : 340px;
}

#Level3 {
  top : 430px;
}

.QuestionsBtn {
  display          : inline-block;
  position         : absolute;
  top              : 380px;
  width            : 250px;
  height           : 90px;
  margin           : 30px;
  color            : #fff;
  background-color : rgba(51,68,85,.6);
  font-size        : 50px;
  cursor           : pointer;
}

#Continue,
#Delete {
  right               : 450px;
  width               : 200px;
  height              : 100px;
  border-color        : transparent;
  background-image    : url(../resources/IMAGES/BUTTONS/ContinueBtn.png);
  background-color    : Transparent;
  background-repeat   : no-repeat;
  background-position : center center;
  background-size     : 100%;
}

#Delete {
  right            : 230px;
  background-image : url(../resources/IMAGES/BUTTONS/DeleteBtn.png);
}

#Continue:hover {
  background-image : url(../resources/IMAGES/BUTTONS/ContinueBtn1.png);
}

#Delete:hover {
  background-image : url(../resources/IMAGES/BUTTONS/DeleteBtn1.png);
}

#name {
  top  : 175px;
  left : 530px;
}

#startDate {
  top  : 155px;
  left : 780px;
}

#overallScore,
#overallTime {
  top       : 185px;
  left      : 500px;
  font-size : 20px;
}

#overallScore {
  left : 780px;
}

#info {
  top  : 280px;
  left : 530px;
}

#levelName {
  top        : 360px;
  left       : 550px;
  text-align : center;
}

.gameMusicControl {
  position            : absolute;
  top                 : 10px;
  left                : 1080px;
  width               : 90px;
  height              : 70px;
  border-color        : transparent;
  background-image    : url(../resources/IMAGES/BUTTONS/volumeWith.png);
  background-color    : Transparent;
  background-repeat   : no-repeat;
  background-position : center center;
  background-size     : 80%;
}

.gameMusicControl:hover {
  cursor : pointer;
}

#figure1 {
  position : absolute;
  top      : 680px;
  left     : 770px;
  width    : 600px;
  height   : 600px;
}
